#root {
	margin: 0 auto;
	padding: .5rem;
	text-align: center;
	
}
html{
	background-color: #f6f8fa;
}

#contenedor::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}

#contenedor::-webkit-scrollbar-thumb {
	background-color: rgb(202, 201, 201);

}

textarea::-webkit-scrollbar {
	display: none;
}

textarea:focus {
	outline: none;
}

#indicator {
	border-bottom: 10px solid transparent;
	border-left: 12px solid #00c951;
}