#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100dvh;
  background: #b7b3b3;
}

.messages::-webkit-scrollbar {
  display: none;
}

textarea::-webkit-scrollbar {
  display: none;

}

textarea:focus {
  outline: none;
}